$breakpoint-tablet: 900px;

.app-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;    
    }    
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;     
}

